In [6]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, inspect
from sqlalchemy.orm import sessionmaker
import pandas as pd

# Import models from your models.py file
from scripts.models import Base, Flight, Airline, Airport, Route

In [7]:
# Load environment variables
load_dotenv()

# Database connection settings - adjust these as needed
DB_URL = os.getenv("DATABASE_URL")
API_KEY = os.getenv("AVIATIONSTACK_API_KEY")
engine = create_engine(DB_URL, echo=True)  # Set echo=True to see SQL statements


# API Configuration
BASE_URL = "https://api.aviationstack.com/v1/"
MAX_RETRIES = 3
RETRY_DELAY = 2  # seconds

In [8]:
from sqlalchemy import text

# Define the tables to drop
# tables_to_drop = ['airlines', 'airports', 'routes', 'flights']
tables_to_drop = ['routes', 'flights']

# Ensure you have the engine defined from the previous cells
# engine = create_engine(DB_URL)

print(f"Attempting to drop tables: {', '.join(tables_to_drop)}...")


# Method 2: Using raw SQL (more direct and safer if metadata is complex)
try:
    with engine.connect() as connection:
        with connection.begin(): # Start a transaction
            for table_name in tables_to_drop:
                print(f"Dropping table {table_name} if it exists...")
                # Use 'CASCADE' if there are foreign key dependencies
                connection.execute(text(f"DROP TABLE IF EXISTS {table_name} CASCADE"))
        print(f"✅ Successfully dropped tables: {', '.join(tables_to_drop)}")
except Exception as e:
    print(f"❌ Error dropping tables: {e}")

Attempting to drop tables: airlines, airports, routes, flights...
2025-05-05 17:16:22,739 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-05-05 17:16:22,739 INFO sqlalchemy.engine.Engine [raw sql] {}

2025-05-05 17:16:22,741 INFO sqlalchemy.engine.Engine select current_schema()
2025-05-05 17:16:22,754 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 17:16:22,758 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-05-05 17:16:22,759 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 17:16:22,814 INFO sqlalchemy.engine.Engine BEGIN (implicit)
Dropping table airlines if it exists...
2025-05-05 17:16:22,815 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS airlines CASCADE
2025-05-05 17:16:22,815 INFO sqlalchemy.engine.Engine [generated in 0.00030s] {}
Dropping table airports if it exists...
2025-05-05 17:16:22,820 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS airports CASCADE
2025-05-05 17:16:22,820 INFO sqlalchemy.engine.Engine [generated in 0.00045s] {}
Dropping table routes if it exists...
2025-05-05 17:16:22,821 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS routes CASCADE
2025-05-05 17:16:22,821 INFO sqlalchemy.engine.Engine [generated in 0.00018s] {}
Dropping table flights if it exists...
2025-05-05 17:16:22,823 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS flights CASCADE
2025-05-05 17:16:22,824 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {}
2025-05-05 17:16:22,826 INFO sqlalchemy.engine.Engine COMMIT
✅ Successfully dropped tables: airlines, airports, routes, flights

In [9]:
# Cell 2: Create tables in the database
def create_tables():
    """
    Create all tables in the PostgreSQL database
    """
    print("Creating tables in PostgreSQL...")
    
    # This will create all tables defined with the Base class
    Base.metadata.create_all(engine)
    print("✅ All tables created successfully!")
    
    # Check if tables exist by querying table names
    inspector = inspect(engine)
    tables = inspector.get_table_names()
    
    print("\nTables in the database:")
    for table in tables:
        print(f"- {table}")

# Execute the function to create tables
create_tables()

Creating tables in PostgreSQL...
2025-05-05 17:16:24,086 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 17:16:24,089 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-05-05 17:16:24,090 INFO sqlalchemy.engine.Engine [generated in 0.00059s] {'table_name': 'flights', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-05-05 17:16:24,093 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-05-05 17:16:24,093 INFO sqlalchemy.engine.Engine [cached since 0.004126s ago] {'table_name': 'airlines', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-05-05 17:16:24,094 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-05-05 17:16:24,094 INFO sqlalchemy.engine.Engine [cached since 0.005074s ago] {'table_name': 'airports', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-05-05 17:16:24,095 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-05-05 17:16:24,095 INFO sqlalchemy.engine.Engine [cached since 0.005959s ago] {'table_name': 'routes', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-05-05 17:16:24,097 INFO sqlalchemy.engine.Engine
CREATE TABLE flights (
	id SERIAL NOT NULL,
	flight_date DATE NOT NULL,
	flight_status VARCHAR(20) NOT NULL,
	departure_airport VARCHAR(255),
	departure_timezone VARCHAR(50),
	departure_iata VARCHAR(8),
	departure_icao VARCHAR(8),
	departure_terminal VARCHAR(50),
	departure_gate VARCHAR(20),
	departure_delay INTEGER,
	departure_scheduled TIMESTAMP WITHOUT TIME ZONE,
	departure_estimated TIMESTAMP WITHOUT TIME ZONE,
	departure_actual TIMESTAMP WITHOUT TIME ZONE,
	departure_estimated_runway TIMESTAMP WITHOUT TIME ZONE,
	departure_actual_runway TIMESTAMP WITHOUT TIME ZONE,
	arrival_airport VARCHAR(255),
	arrival_timezone VARCHAR(50),
	arrival_iata VARCHAR(8),
	arrival_icao VARCHAR(8),
	arrival_terminal VARCHAR(50),
	arrival_gate VARCHAR(20),
	arrival_baggage VARCHAR(20),
	arrival_delay INTEGER,
	arrival_scheduled TIMESTAMP WITHOUT TIME ZONE,
	arrival_estimated TIMESTAMP WITHOUT TIME ZONE,
	arrival_actual TIMESTAMP WITHOUT TIME ZONE,
	arrival_estimated_runway TIMESTAMP WITHOUT TIME ZONE,
	arrival_actual_runway TIMESTAMP WITHOUT TIME ZONE,
	airline_name VARCHAR(255),
	airline_iata VARCHAR(8),
	airline_icao VARCHAR(8),
	flight_number VARCHAR(10),
	flight_iata VARCHAR(10),
	flight_icao VARCHAR(10),
	codeshared JSONB,
	aircraft_registration VARCHAR(20),
	aircraft_iata VARCHAR(10),
	aircraft_icao VARCHAR(10),
	aircraft_icao24 VARCHAR(10),
	raw_payload JSONB,
	PRIMARY KEY (id),
	CONSTRAINT uix_flight_identity UNIQUE (flight_date, flight_iata, departure_iata, arrival_iata, departure_scheduled)
)


2025-05-05 17:16:24,097 INFO sqlalchemy.engine.Engine [no key 0.00029s] {}
2025-05-05 17:16:24,108 INFO sqlalchemy.engine.Engine
CREATE TABLE airlines (
	iata_code VARCHAR(8) NOT NULL,
	airline_id VARCHAR(10),
	id VARCHAR(10),
	icao_code VARCHAR(8),
	iata_prefix_accounting VARCHAR(10),
	airline_name VARCHAR(100),
	callsign VARCHAR(50),
	country_name VARCHAR(100),
	country_iso2 VARCHAR(2),
	date_founded INTEGER,
	hub_code VARCHAR(8),
	fleet_size INTEGER,
	fleet_average_age FLOAT,
	status VARCHAR(20),
	type VARCHAR(20),
	raw_payload JSONB,
	PRIMARY KEY (iata_code)
)


2025-05-05 17:16:24,108 INFO sqlalchemy.engine.Engine [no key 0.00072s] {}
2025-05-05 17:16:24,113 INFO sqlalchemy.engine.Engine
CREATE TABLE airports (
	iata_code VARCHAR(8) NOT NULL,
	airport_name VARCHAR(100),
	icao_code VARCHAR(8),
	latitude FLOAT,
	longitude FLOAT,
	geoname_id VARCHAR(10),
	city_iata_code VARCHAR(4),
	country_name VARCHAR(100),
	country_iso2 VARCHAR(2),
	timezone VARCHAR(50),
	gmt VARCHAR(10),
	phone_number VARCHAR(20),
	raw_payload JSONB,
	PRIMARY KEY (iata_code)
)


2025-05-05 17:16:24,114 INFO sqlalchemy.engine.Engine [no key 0.00039s] {}
2025-05-05 17:16:24,119 INFO sqlalchemy.engine.Engine
CREATE TABLE routes (
	id SERIAL NOT NULL,
	airline_iata VARCHAR(4),
	flight_number VARCHAR(6),
	departure_iata VARCHAR(4),
	arrival_iata VARCHAR(4),
	departure_airport VARCHAR(100),
	departure_timezone VARCHAR(50),
	departure_icao VARCHAR(8),
	departure_terminal VARCHAR(10),
	departure_time VARCHAR(8),
	arrival_airport VARCHAR(100),
	arrival_timezone VARCHAR(50),
	arrival_icao VARCHAR(8),
	arrival_terminal VARCHAR(10),
	arrival_time VARCHAR(8),
	airline_name VARCHAR(100),
	airline_callsign VARCHAR(50),
	airline_icao VARCHAR(8),
	raw_payload JSONB,
	PRIMARY KEY (id),
	CONSTRAINT uix_route_identity UNIQUE (airline_iata, flight_number, departure_iata, arrival_iata)
)


2025-05-05 17:16:24,119 INFO sqlalchemy.engine.Engine [no key 0.00049s] {}
2025-05-05 17:16:24,125 INFO sqlalchemy.engine.Engine COMMIT
✅ All tables created successfully!
2025-05-05 17:16:24,127 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 17:16:24,127 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-05-05 17:16:24,127 INFO sqlalchemy.engine.Engine [generated in 0.00052s] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-05-05 17:16:24,128 INFO sqlalchemy.engine.Engine ROLLBACK

Tables in the database:
- test
- airports
- flights
- airlines
- routes

In [10]:
# Cell: Visual representation of table structures
def display_table_schema(table_name):
    """
    Display a visual representation of a table schema
    
    Args:
        table_name: Name of the table to inspect
    """
    # Get table information using SQLAlchemy's inspect
    inspector = inspect(engine)
    columns = inspector.get_columns(table_name)
    pk_constraint = inspector.get_pk_constraint(table_name)
    unique_constraints = inspector.get_unique_constraints(table_name)
    
    # Format column information
    col_info = []
    for col in columns:
        pk_marker = "🔑 " if col['name'] in pk_constraint.get('constrained_columns', []) else ""
        nullable = "NULL" if col['nullable'] else "NOT NULL"
        default = f"DEFAULT {col['default']}" if col['default'] is not None else ""
        
        # Format type with length for string types
        type_str = str(col['type'])
        
        col_info.append({
            "Column": f"{pk_marker}{col['name']}",
            "Type": type_str,
            "Constraints": f"{nullable} {default}".strip()
        })
    
    # Create DataFrame for pretty display
    schema_df = pd.DataFrame(col_info)
    
    print(f"=== Table: {table_name} ===")
    print(schema_df)
    
    # Display unique constraints
    if unique_constraints:
        print("\nUnique Constraints:")
        for uc in unique_constraints:
            print(f"- {uc['name']}: {', '.join(uc['column_names'])}")
    
    print("\n" + "="*50 + "\n")

# Display schema for each table
tables = ["airlines", "airports", "routes", "flights"]
for table in tables:
    display_table_schema(table)

2025-05-05 17:16:30,265 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 17:16:30,266 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2025-05-05 17:16:30,266 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'airlines'}
2025-05-05 17:16:30,274 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.format_type(pg_catalog.pg_type.typbasetype, pg_catalog.pg_type.typtypmod) AS attype, NOT pg_catalog.pg_type.typnotnull AS nullable, pg_catalog.pg_type.typdefault AS "default", pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, domain_constraints.condefs, domain_constraints.connames, pg_catalog.pg_collation.collname
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN pg_catalog.pg_collation ON pg_catalog.pg_type.typcollation = pg_catalog.pg_collation.oid LEFT OUTER JOIN (SELECT pg_catalog.pg_constraint.contypid AS contypid, array_agg(pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s)) AS condefs, array_agg(CAST(pg_catalog.pg_constraint.conname AS TEXT)) AS connames
FROM pg_catalog.pg_constraint
WHERE pg_catalog.pg_constraint.contypid != %(contypid_1)s GROUP BY pg_catalog.pg_constraint.contypid) AS domain_constraints ON pg_catalog.pg_type.oid = domain_constraints.contypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2025-05-05 17:16:30,274 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {'pg_get_constraintdef_1': True, 'contypid_1': 0, 'typtype_1': 'd'}
2025-05-05 17:16:30,278 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, lbl_agg.labels AS labels
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN (SELECT pg_catalog.pg_enum.enumtypid AS enumtypid, array_agg(CAST(pg_catalog.pg_enum.enumlabel AS TEXT) ORDER BY pg_catalog.pg_enum.enumsortorder) AS labels
FROM pg_catalog.pg_enum GROUP BY pg_catalog.pg_enum.enumtypid) AS lbl_agg ON pg_catalog.pg_type.oid = lbl_agg.enumtypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2025-05-05 17:16:30,278 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {'typtype_1': 'e'}
2025-05-05 17:16:30,280 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-05 17:16:30,281 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 17:16:30,282 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.oid, pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s)
2025-05-05 17:16:30,282 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'airlines'}
2025-05-05 17:16:30,285 INFO sqlalchemy.engine.Engine SELECT attr.conrelid, array_agg(CAST(attr.attname AS TEXT) ORDER BY attr.ord) AS cols, attr.conname, min(attr.description) AS description, NULL AS extra
FROM (SELECT con.conrelid AS conrelid, con.conname AS conname, con.conindid AS conindid, con.description AS description, con.ord AS ord, pg_catalog.pg_attribute.attname AS attname
FROM pg_catalog.pg_attribute JOIN (SELECT pg_catalog.pg_constraint.conrelid AS conrelid, pg_catalog.pg_constraint.conname AS conname, pg_catalog.pg_constraint.conindid AS conindid, unnest(pg_catalog.pg_constraint.conkey) AS attnum, generate_subscripts(pg_catalog.pg_constraint.conkey, %(generate_subscripts_1)s) AS ord, pg_catalog.pg_description.description AS description
FROM pg_catalog.pg_constraint LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid
WHERE pg_catalog.pg_constraint.contype = %(contype)s AND pg_catalog.pg_constraint.conrelid IN (%(oids_1)s)) AS con ON pg_catalog.pg_attribute.attnum = con.attnum AND pg_catalog.pg_attribute.attrelid = con.conrelid
WHERE con.conrelid IN (%(oids_1)s)) AS attr GROUP BY attr.conrelid, attr.conname ORDER BY attr.conrelid, attr.conname
2025-05-05 17:16:30,285 INFO sqlalchemy.engine.Engine [generated in 0.00071s] {'generate_subscripts_1': 1, 'contype': 'p', 'oids_1': 16656}
2025-05-05 17:16:30,287 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-05 17:16:30,289 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 17:16:30,289 INFO sqlalchemy.engine.Engine SELECT attr.conrelid, array_agg(CAST(attr.attname AS TEXT) ORDER BY attr.ord) AS cols, attr.conname, min(attr.description) AS description, bool_and(pg_catalog.pg_index.indnullsnotdistinct) AS indnullsnotdistinct
FROM (SELECT con.conrelid AS conrelid, con.conname AS conname, con.conindid AS conindid, con.description AS description, con.ord AS ord, pg_catalog.pg_attribute.attname AS attname
FROM pg_catalog.pg_attribute JOIN (SELECT pg_catalog.pg_constraint.conrelid AS conrelid, pg_catalog.pg_constraint.conname AS conname, pg_catalog.pg_constraint.conindid AS conindid, unnest(pg_catalog.pg_constraint.conkey) AS attnum, generate_subscripts(pg_catalog.pg_constraint.conkey, %(generate_subscripts_1)s) AS ord, pg_catalog.pg_description.description AS description
FROM pg_catalog.pg_constraint LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid
WHERE pg_catalog.pg_constraint.contype = %(contype)s AND pg_catalog.pg_constraint.conrelid IN (%(oids_1)s)) AS con ON pg_catalog.pg_attribute.attnum = con.attnum AND pg_catalog.pg_attribute.attrelid = con.conrelid
WHERE con.conrelid IN (%(oids_1)s)) AS attr JOIN pg_catalog.pg_index ON attr.conindid = pg_catalog.pg_index.indexrelid GROUP BY attr.conrelid, attr.conname ORDER BY attr.conrelid, attr.conname
2025-05-05 17:16:30,289 INFO sqlalchemy.engine.Engine [generated in 0.00041s] {'generate_subscripts_1': 1, 'contype': 'u', 'oids_1': 16656}
2025-05-05 17:16:30,291 INFO sqlalchemy.engine.Engine ROLLBACK
=== Table: airlines ===
                    Column              Type Constraints
0              🔑 iata_code        VARCHAR(8)    NOT NULL
1               airline_id       VARCHAR(10)        NULL
2                       id       VARCHAR(10)        NULL
3                icao_code        VARCHAR(8)        NULL
4   iata_prefix_accounting       VARCHAR(10)        NULL
5             airline_name      VARCHAR(100)        NULL
6                 callsign       VARCHAR(50)        NULL
7             country_name      VARCHAR(100)        NULL
8             country_iso2        VARCHAR(2)        NULL
9             date_founded           INTEGER        NULL
10                hub_code        VARCHAR(8)        NULL
11              fleet_size           INTEGER        NULL
12       fleet_average_age  DOUBLE PRECISION        NULL
13                  status       VARCHAR(20)        NULL
14                    type       VARCHAR(20)        NULL
15             raw_payload             JSONB        NULL

==================================================

2025-05-05 17:16:30,295 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 17:16:30,296 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2025-05-05 17:16:30,296 INFO sqlalchemy.engine.Engine [cached since 0.03089s ago] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'airports'}
2025-05-05 17:16:30,299 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.format_type(pg_catalog.pg_type.typbasetype, pg_catalog.pg_type.typtypmod) AS attype, NOT pg_catalog.pg_type.typnotnull AS nullable, pg_catalog.pg_type.typdefault AS "default", pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, domain_constraints.condefs, domain_constraints.connames, pg_catalog.pg_collation.collname
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN pg_catalog.pg_collation ON pg_catalog.pg_type.typcollation = pg_catalog.pg_collation.oid LEFT OUTER JOIN (SELECT pg_catalog.pg_constraint.contypid AS contypid, array_agg(pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s)) AS condefs, array_agg(CAST(pg_catalog.pg_constraint.conname AS TEXT)) AS connames
FROM pg_catalog.pg_constraint
WHERE pg_catalog.pg_constraint.contypid != %(contypid_1)s GROUP BY pg_catalog.pg_constraint.contypid) AS domain_constraints ON pg_catalog.pg_type.oid = domain_constraints.contypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2025-05-05 17:16:30,299 INFO sqlalchemy.engine.Engine [cached since 0.02571s ago] {'pg_get_constraintdef_1': True, 'contypid_1': 0, 'typtype_1': 'd'}
2025-05-05 17:16:30,301 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, lbl_agg.labels AS labels
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN (SELECT pg_catalog.pg_enum.enumtypid AS enumtypid, array_agg(CAST(pg_catalog.pg_enum.enumlabel AS TEXT) ORDER BY pg_catalog.pg_enum.enumsortorder) AS labels
FROM pg_catalog.pg_enum GROUP BY pg_catalog.pg_enum.enumtypid) AS lbl_agg ON pg_catalog.pg_type.oid = lbl_agg.enumtypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2025-05-05 17:16:30,302 INFO sqlalchemy.engine.Engine [cached since 0.02371s ago] {'typtype_1': 'e'}
2025-05-05 17:16:30,302 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-05 17:16:30,303 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 17:16:30,303 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.oid, pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s)
2025-05-05 17:16:30,303 INFO sqlalchemy.engine.Engine [cached since 0.02222s ago] {'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'airports'}
2025-05-05 17:16:30,304 INFO sqlalchemy.engine.Engine SELECT attr.conrelid, array_agg(CAST(attr.attname AS TEXT) ORDER BY attr.ord) AS cols, attr.conname, min(attr.description) AS description, NULL AS extra
FROM (SELECT con.conrelid AS conrelid, con.conname AS conname, con.conindid AS conindid, con.description AS description, con.ord AS ord, pg_catalog.pg_attribute.attname AS attname
FROM pg_catalog.pg_attribute JOIN (SELECT pg_catalog.pg_constraint.conrelid AS conrelid, pg_catalog.pg_constraint.conname AS conname, pg_catalog.pg_constraint.conindid AS conindid, unnest(pg_catalog.pg_constraint.conkey) AS attnum, generate_subscripts(pg_catalog.pg_constraint.conkey, %(generate_subscripts_1)s) AS ord, pg_catalog.pg_description.description AS description
FROM pg_catalog.pg_constraint LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid
WHERE pg_catalog.pg_constraint.contype = %(contype)s AND pg_catalog.pg_constraint.conrelid IN (%(oids_1)s)) AS con ON pg_catalog.pg_attribute.attnum = con.attnum AND pg_catalog.pg_attribute.attrelid = con.conrelid
WHERE con.conrelid IN (%(oids_1)s)) AS attr GROUP BY attr.conrelid, attr.conname ORDER BY attr.conrelid, attr.conname
2025-05-05 17:16:30,305 INFO sqlalchemy.engine.Engine [cached since 0.0199s ago] {'generate_subscripts_1': 1, 'contype': 'p', 'oids_1': 16663}
2025-05-05 17:16:30,305 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-05 17:16:30,306 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 17:16:30,306 INFO sqlalchemy.engine.Engine SELECT attr.conrelid, array_agg(CAST(attr.attname AS TEXT) ORDER BY attr.ord) AS cols, attr.conname, min(attr.description) AS description, bool_and(pg_catalog.pg_index.indnullsnotdistinct) AS indnullsnotdistinct
FROM (SELECT con.conrelid AS conrelid, con.conname AS conname, con.conindid AS conindid, con.description AS description, con.ord AS ord, pg_catalog.pg_attribute.attname AS attname
FROM pg_catalog.pg_attribute JOIN (SELECT pg_catalog.pg_constraint.conrelid AS conrelid, pg_catalog.pg_constraint.conname AS conname, pg_catalog.pg_constraint.conindid AS conindid, unnest(pg_catalog.pg_constraint.conkey) AS attnum, generate_subscripts(pg_catalog.pg_constraint.conkey, %(generate_subscripts_1)s) AS ord, pg_catalog.pg_description.description AS description
FROM pg_catalog.pg_constraint LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid
WHERE pg_catalog.pg_constraint.contype = %(contype)s AND pg_catalog.pg_constraint.conrelid IN (%(oids_1)s)) AS con ON pg_catalog.pg_attribute.attnum = con.attnum AND pg_catalog.pg_attribute.attrelid = con.conrelid
WHERE con.conrelid IN (%(oids_1)s)) AS attr JOIN pg_catalog.pg_index ON attr.conindid = pg_catalog.pg_index.indexrelid GROUP BY attr.conrelid, attr.conname ORDER BY attr.conrelid, attr.conname
2025-05-05 17:16:30,306 INFO sqlalchemy.engine.Engine [cached since 0.01716s ago] {'generate_subscripts_1': 1, 'contype': 'u', 'oids_1': 16663}
2025-05-05 17:16:30,308 INFO sqlalchemy.engine.Engine ROLLBACK
=== Table: airports ===
            Column              Type Constraints
0      🔑 iata_code        VARCHAR(8)    NOT NULL
1     airport_name      VARCHAR(100)        NULL
2        icao_code        VARCHAR(8)        NULL
3         latitude  DOUBLE PRECISION        NULL
4        longitude  DOUBLE PRECISION        NULL
5       geoname_id       VARCHAR(10)        NULL
6   city_iata_code        VARCHAR(4)        NULL
7     country_name      VARCHAR(100)        NULL
8     country_iso2        VARCHAR(2)        NULL
9         timezone       VARCHAR(50)        NULL